h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 5px red;
}

.title{
    color: orange;
}

#italic{
    color: green;
}

nav{
    background: aquamarine;
    text-align: center;
}

.nav-wrapper{
    background: aquamarine;
}

a{
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 30px;
}

.container{
    border: 10px dashed green;
    margin: 50px 5px 25px 0px;
    padding: 30px 5px 10px 5px;
}

.box{
    background: blue;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    display: inline-block;
/*    box-shadow: 5px 5px 13px 10px grey inset;*/

}

@keyframes fadeMe{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#box1{
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circleImg{
    border-radius: 50%;
}

@keyframes rotation{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    } 
}

#box2{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(purple,orange,pink,yellow)
}

@keyframes getBigger{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(3);
    }
}

#box3{
    animation: getBigger infinite 8s linear;
/*    animation-name: getBigger;*/
    border-radius: 50%;
    background: orange;
}

@keyframes changeColors{
    0%{
        background-color: grey;
    } 25%{
        background-color: rosybrown;
    } 50%{
        background-color: rebeccapurple;
    } 75%{
        background-color: red;
    } 100%{
        background-color: blue;
    }
}

#box4{
    animation: changeColors 3s 2s forwards;
}

@keyframes moveBox{
    0%{
        left: 0px;
        top: 0px;
    } 
    25%{
        left: 100px;
        top: 0px;
    } 
    50%{
        left: 100px;
        top: 200px;
    } 
    75%{
        left: 0px;
        top: 200px;
    } 
    100%{
        left: 0px;
        top: 0px;
    }
}

#box5{
    animation: moveBox 5s 3s;
    background: red;
    position: relative;
}

#box6{
    position: relative;
    top: 10px;
    left: 20px;
    
}

html{
/*
    background-image:url(images/asdf.jpg);
    background-repeat: no-repeat;
    background-image: radial-gradient(blue, green, yellow,grey)
*/
    background-color: gainsboro;

}
img{
    box-shadow: 5px 5px 13px 10px grey;
}

.flex{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
/*    padding: 100px;*/
    justify-content: space-around;
}

.contact-box{
    display: flex;
    justify-content: center;
}

.row{
    margin: 30px;
}

.input-field{
    margin: 20px;
}


form input{
    display: block;
    margin: 30px;
}

form textarea{
    display: block;
    margin: 30px;
}

form button{
    display: block;
    margin: 30px
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20%);
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .Box {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
      display: flex;
      justify-content: center;
  }
  .b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
      display: flex;
      justify-content: center;
  }
  .c {
    grid-column: col /span 5 ;
    grid-row: row 2 ;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(pink,yellow,purple,orange)
  }
  .d {
    grid-column: col  / span  3 ;
    grid-row: row 3 ;
      display: flex;
      justify-content: center;
  }

  .e {
    grid-column: col 3  / span  3;
    grid-row: row 3;
      display: flex;
      justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(orange,purple,yellow,pink)
  }